.background {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("https://www.teahub.io/photos/full/173-1738269_map-pirate-backgrounds-mood-magnifying-glass.jpg");
  background-size: cover;
  background-position: center;
}

.text1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  padding: 20px;
}

.scrolled {
  overflow-y: hidden;
}
