body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
.background {
  background-image: url("https://img.freepik.com/premium-zdjecie/biologia-hd-8k-tapeta-stock-obraz-fotograficzny_890746-80651.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  margin-top: 100vh;
  padding: 20px;
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.heart {
  width: 300px;
  border-radius: 20px;
  padding: 20px;
  margin: 20px auto;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
ul li {
  margin-bottom: 10px;
}
